.detail{
    margin-top: 20px;

    &__info{
        text-align: left;
    }

    &__img{
        border-radius: 100px;
        border: 4px solid $quaternary-color;
        width: 200px;

        @include adaptTo('only-mobile'){
            margin-top: 50px;
        }
    }

    &__name{
        font-size: 20px;
        font-family: 'Poppins Bold';
        color: $senary-color;
        text-decoration: underline;
        text-transform: uppercase;
    }

    &__info{
        margin: 0 25px 50px;

        @include adaptTo('tablet'){
            margin:0;
            margin-left: 40px;
            background-color: #ffffff;
            padding: 30px 20px;
        }
        @include adaptTo('desktop-m'){
            margin:0;
            margin-left: 40px;
            background-color: #ffffff;
            padding: 30px 20px;
        }
    }

    &__section{
        margin-top: 10px
    }

    &__status{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
        
    }

    &__status-subtitle{
        padding: 5px 15px;
        font-size: 14px;
        border-radius: 20px;
        background-color: $fithteen-color;
        margin-right: 10px;
        width: 100%;
        text-align: center;

        @include adaptTo('only-mobile'){
            width: 70px;
            &--unknown{
                width: 110px;
            }
        }
    }

    &__container{

        @include adaptTo('big-screen'){
            display: flex;
        }
        
    }

    &__title{
        font-size: 14px;
        font-family: 'Poppins Bold';
        color: $fourthteen-color;
        @include adaptTo('desktop-m'){
            margin: 10px;
        }
        @include adaptTo('big-screen'){
            margin: 10px;
        }
    }

    &__subtitle{
        font-size: 18px;
        font-family: 'Poppins';
        margin: 10px 0;
        padding-left: 10px;
        background-color: $fithteen-color;
        border-radius: 20px;

        @include adaptTo('tablet'){
            width: 400px;
        }
        @include adaptTo('desktop-m'){
            width: 190px;
            margin: 10px;
        }
        @include adaptTo('big-screen'){
            width: 190px;
            margin: 10px;
        }

        &--alive{
            background-color: $twelve-color;
        }

        &--dead{
            background-color: $thirdteen-color;
        }

        &--unknown{
            background-color: $fourthteen-color;
        }

        &--location{
            background-color: $secondary-color;
        }
    }

    &__button{
        border-radius: 20px;
        font-size: 18px;
        font-family: 'Poppins';
        width: 50px;
        margin: 5px;
        background-color: $secondary-color;
        border: none;
        color: $senary-color;
    }

}

