.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    margin-top: 50px;

    @include adaptTo('desktop-m'){
        flex-direction: row;
        background-color: $senary-color;
        max-width: 100%;
    }

    
    @include adaptTo('not-mobile'){
        flex-direction: row;
        background-color: $senary-color;
        max-width: 100%;
    }

    @include adaptTo('desktop-xl'){
        border-radius: 15px;
    }

    &__link{
        font-family: 'Poppins bold';
        font-size: 24px;
        text-decoration: none;
        color: $senary-color;
        background-color: $secondary-color;
        border-radius: 100px;
        margin-bottom: 50px;
        width: 100%;
        cursor: pointer;
        padding: 60px 35px;
        max-width: 280px;

        @include adaptTo('tablet'){
            font-size: 32px;
            padding: 53px 145px;
            max-width: 500px;
        }
        @include adaptTo('desktop-m'){
            font-size: 24px;
            padding: 60px 35px;
            margin: 70px 50px 80px 50px;
            max-width: 100%;
        }
        @include adaptTo('not-mobile'){
            font-size: 32px;
            padding: 60px 35px;
            margin: 70px 50px 80px 50px;
            max-width: 100%;
        }
    }
}