$primary-color: #F9F9F9;
$secondary-color: #EEE4F1;
$tertiary-color: #563461;
$quaternary-color: #BEA1C7;
$quinary-color: #643762;
$senary-color: #471D4F;
$septenary-color: #F3F3F3;
$octonary-color: #8F8F8F;
$nine-color: #000000;
$ten-color: #FFFFFF;
$eleven-color: #4D1F5B;
$twelve-color: #81CE7F;
$thirdteen-color: #D85252;
$fourthteen-color: #A6A6A6;
$fithteen-color: #F2F2F2;